@import "../style/style.scss";

.section-card-container {
  padding-block: 2rem;
  margin: 0 auto;
  padding-inline: 2rem;
  @include flex(column, flex-start, center, 24px);

  h2,
  h3,
  h4 {
    font-family: "Josefin Sans", sans-serif;
  }

  p {
    font-family: "Jost", sans-serif;
  }

  .img-container {
    padding-top: 2rem;
    margin: 0 auto;
    width: 20rem;
  }

  .text-container {
    @include flex(column, center, center, $spacing);
    width: 100%;
    max-width: 65ch;

    h2 {
      text-align: center;
      font-size: $fontSize2;
    }

    p {
      padding-block: 1rem;
      max-width: 65ch;
    }
  }

  @include mq() {
    @include flex(row, center, center, 24px);
    width: 80dvw;

    &.odd {
      flex-direction: row-reverse;
    }
  }
}
